<ul>
  <li>key.id = <%=h @shout.id %></li>
  <li>message = <%=h @shout.message %></li>
  <li>created_at = <%=h @shout.created_at %></li>
  <li>updated_at = <%=h @shout.updated_at %></li>
  <li>key = <%=h @shout.key.inspect %> <%=h @shout.key.to_s %></li>
</ul>

<a href="/">back</a>
